<!DOCTYPE html>
<html lang="en">
<title>DinO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> -->

<style>
  body {font-family: 'Courgette', cursive;}
  .w3-row img {margin-bottom: -8px}
</style>


<head>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <meta charset="UTF-8">
  <title>DinO</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> <!-- CHECK THIS -->
  <link rel="shortcut icon" href="static/img/favicon.ico">
</head>

<!-- <header>
</header> -->

<body>
  <div class="outerwrapper">
  <div class="intro">
    <div class="overlay">
      <div class="intro-text">
        <h1 style="text-align:center">DineOut</h1>
      </div>
    </div>
  </div>
</div>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="wrapper">
  <div class="container">
    <form action="search">
      <input type="text" class="input" placeholder="Search Cities" autocomplete="on" formaction="https://developers.zomato.com/api/v2.1/categories">
    </form>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>

</body>

</html>
