<!DOCTYPE html>
<html lang="en">
<title>DinO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> -->
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<style>
  body {font-family: 'Courgette', cursive;}
  .w3-row img {margin-bottom: -8px}
</style>


<head>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <meta charset="UTF-8">
  <title>DinO</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> <!-- CHECK THIS -->
  <link rel="shortcut icon" href="static/img/favicon.ico">
</head>

<!-- <header>
</header> -->

<body>
  <div class="outerwrapper">
  <div class="intro">
    <div class="overlay">
      <div class="intro-text">
        <h1 style="text-align:center">DineOut</h1>
      </div>
    </div>
  </div>
</div>


<!-- <nav role="navigation">
<ul>
  <li><a href="#">City:</a></li>
    <ul>
      <li><a value="6777" href="#">Rolla</li>
      <li><a value="844" href="#">St. Louis</li>
      <li><a value="280" href="#">New York City</li>
      <li><a value="850" href="#">Springfield</li>
    </ul>
</ul>
</nav> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrap">
  <div class="containers">
    <select id="City">
      <option value="\0"><b>City:</b></option>
      <option value="6777">Rolla</option>
      <option value="844">St. Louis</option>
      <option value="280">New York City</option>
      <option value="850">Springfield</option>
    </select>
  </div>
</div>

<div class="wrapper">
  <div class="container">
      <input type="text" class="input" placeholder="Search Cuisines" autocomplete="off" formaction="https://developers.zomato.com/api/v2.1/categories" id="mySearch">
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</div>

<div class="positioning">
  <div id="data">
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="{{url_for('static', filename='script.js')}}"></script>





</body>
</html>


